
<h1>
    Біографія Мікеланджело ді Лодовіко Буонарроті Сімоні
</h1>
<hr />
<p>
    <h5>
        Мікела́нджело ді Франче́ско ді Не́рі ді Мініа́то дель Се́ра і Лодо́віко ді Леона́рдо ді Буонарро́ті Сімо́ні (італ. Michelangelo di Francesci di Neri di Miniato del Sera i Lodovico di Leonardo di Buonarroti Simoni, часто відомий як Мікеланджело або Мікелянджело; 6 березня 1475, Капрезе — 18 лютого 1564, Рим) — італійський скульптор, художник, архітектор, поет та інженер. Його твори вважалися найвищими досягненнями мистецтва Відродження ще за життя самого майстра.
        Ромен Роллан писав про нього: «Нехай сам він був створений із цього пороху земного. Але із тліні спалахнув вогонь, що очищує все, — вогонь генія». Мікеланджело прожив майже 89 років, цілу епоху, від періоду Високого Відродження до початків Контрреформації. За цей період змінилося тринадцять Пап Римських — він виконував замовлення для дев'яти із них.
        Збереглося багато документів про його життя та творчість — свідчення сучасників, листи самого Мікеланджело, договори, його особисті й професійні записи. Мікеланджело також був першим представником західноєвропейського мистецтва, чия біографія була надрукована ще за його життя.
    </h5>
</p>
<p>
    <h5>
        Серед найвідоміших його скульптурних робіт — «Давид», «Вакх», «П'єта», статуї «Мойсея», «Лії» та «Рахилі» для гробниці папи Юлія ІІ. Джорджо Вазарі, перший офіційний біограф Мікеланджело, писав, що «Давид» «перевищив славу всіх сучасних і античних статуй, грецьких і римських, будь-коли зроблених».
        Одним із наймонументальніших творів митця є фрески стелі Сікстинської капели, про які Гете сказав, що: «не побачивши Сікстинську капелу, важко собі наочно уявити те, що може зробити одна людина», а Вільям Дюрант писав, що у своїй єдності вони — «найбільше досягнення людини в історії живопису».
        Серед його архітектурних звершень — проєкт купола Собору Святого Петра, сходи бібліотеки Лауренціана, площа Кампідольо та інші. Дослідниками вважається, що мистецтво Мікеланджело — це мистецтво, що розпочинається і завершується зображенням людського тіла.
    </h5>
</p>
