<h1>
    Роботи Мікеланджело
</h1>
<p>
    Тондо "Мадонна Доні" – єдина збережена до наших днів картина Мікеланджело. Вона написана на замовлення флорентійського банкіра Аньоло Доні, в честь його шлюбу з представницею знаменитого тосканського дворянського роду – Маддаленою Строцці. До сих пір розміщена у своїй оригінальній рамі, створеній самим Мікеланджело. Робота перебуває в флорентійській галереї Уффіци з 1635 року. Існує думка, що переливчасті відтінки "Тондо Доні" і хитромудре зображення її "героїв" – в основі художнього стилю маньєризм.
</p>
<img src="https://vogue.ua/i/image_720x/uploads/article-inline/ab8/cc5/d96/5c7fd96cc5ab8.jpeg.webp"
     width = "300"
     height = "300"
/>
<p>
    Мабуть, найвідоміша у світі п'ятиметрова скульптура, "Давид" була створена художником всього протягом трьох років. Історія Давида і Голіафа – один з найбільш часто інтерпретованих епізодів Біблії в мистецтві. Особливість роботи Мікеланджело в тому, що він став першим художником, який зобразив не переможного Давида після битви з Голіафом, а показав його в напрузі перед легендарною битвою. "Давид" перебував на площі Синьйорії у Флоренції більше 300 років, поки 1873 року не був перенесений в Академію красних мистецтв, де є і сьогодні. Скульптура виставлена ​​під світловим люком, який для неї спеціально розробив італійський архітектор XIX століття Еміліо де Фабріс. Завдяки своїй неймовірній популярності існує величезна кількість копій і зліпків. Найвідоміші з них: на площі Синьйорії, в італійському дворику Пушкінського музею і в Музеї Альберта і Вікторії.
</p>
<img src="https://vogue.ua/i/image_720x/uploads/article-inline/4ad/a2f/d8e/5c7fd8ea2f4ad.jpeg.webp"
width="300"
height="300"
/>